<!-- <ul>
    <li *ngFor="let gif of resultados">
        {{ gif.title }}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let gif of resultados" class="col-md-4 col-sm-6 animate__animated animate__fadeIn animate__faster">
        
        <div class="card">
            <!-- src sin llaves: sería un string -->
            <!-- [src] : para cuando necesito que sea el valor producto del objeto. Es decir, quiero que Angular maneje o establezca el valor del source igual a lo que venga en git images -->
            <img [src]=" gif.images.downsized_medium.url" alt="gif.title" class="card-image-top">
            <div class="card-body">
                <p class="card-text">
                    {{ gif.title }}
                </p>
            </div>
        </div>

    </div>
</div>

